# FCEDU 丰橙学院
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

.vscode
.idea/
*.sublime-project
*.sublime-workspace
.happypack
.DS_Store
webpack_cache/*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
